.intro-container {
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
    padding: 50px;
    background-color: #f8f8f8;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
  }
  body
  {
    background-image: url(./whale-5120x2880-sea-ocean-water-underwater-diving-art-rays-worlds-1235\ \(1\).jpg);
  }
  h1 {
    font-size: 48px;
    color: #333;
    margin-bottom: 20px;
  }
  
  p {
    font-size: 24px;
    color: #666;
    line-height: 1.5;
  }
  a
  {
    /* text-decoration: none; */
    color: black;
  }
  